/* 主体 */
		div.cartDiv{
			width: 1013px;
			margin: 10px auto;
		}
		div.cartDiv a:hover{
			cursor: pointer;
		}
		
		/* 2.购物车底部 */
		div.cartFoot{
			height: 50px;
			line-height: 50px;
			margin: 20px 0;
			padding-left:20px ;
			background-color: #E7E7E7;
		}
		span.cartSumNumber{
			font-weight: bold;
			font-size: 16px;
			color: #C30000;
		}
		span.cartSumPrice{
			font-weight: bold;
			font-size: 20px;
			color: #C30000;
			margin-right: 10px;
		}
		button.createOrderButton{
			width: 120px;
			height: 50px;
			color: white;
			font-size: 20px;
			border: none;
			background-color: #CCCCCC;
		}
		
		
		/* 1.购物车内容 */
		table.cartProductTable td{
			padding: 20px;
			}
		table.cartProductTable th{
			padding: 20px;
		}
		tr.cartProductItemTR{
			border: 1px solid #EDEDED;
			border-collapse: collapse;
			background-color: white;
		}
		/* 1.1标题行 */
		th.selectAndImage{
			height: 57px;
			width: 150px;
		}
		th.operation{
			width: 80px;
		}
		/* 1.2商品行 */
		img.cartProductImg{
			width: 80px;
			height: 80px;
		}
		/* 商品信息 */
		div.cartProductLinkOutDiv{
			position: relative;
			height: 80px;
		}
		div.cartProductLinkInnerDiv{
			position: absolute;
			left: 0;
			bottom: 0;
		}
		div.cartProductLinkOutDiv a{
			color: black;
		}
		div.cartProductLinkOutDiv a:hover{
			color: #C30000;
		}
		/* 单价 */
		tr.cartProductItemTR span{
			font-weight: bold;
			font-size: 14px;
			color: #C30000;
		}
		span.cartProductItemOringalPrice{
			color: #9C9C9C !important;
			font-size: 14px;
			font-weight: bold;
			text-decoration:line-through;
			margin-bottom: 2px;
			display: block;
		}
		span.cartProductItemPromotionPrice{
			font-weight: bold;
			font-size: 14px;
			color: #C30000;
		}
		/* 数量 */
		div.cartProductChangeNumberDiv{
			border: 1px solid #EDEDED;
		}
		input.orderItemNumberSetting{
			width: 42px;
			display: inline-block;
		}
		div.cartProductChangeNumberDiv a{
			color: black;
			height: 17px;
			width: 14px;
			display: inline-block;
			text-align: center;
		}div.cartProductChangeNumberDiv a:hover{
			text-decoration: none;
		}
		/* 金额 */
		div.cartProductItemSmallSumPrice{
			font-weight: bold;
			font-size: 14px;
			color: #C30000;
			display: inline-block;
		}
		/* 操作 */
		a.deleteOrderItem{
			color: #9C9C9C;
		}
		a.deleteOrderItem:hover{
			color: #C30000;
			text-decoration: none;
		}
		
	body{
		font-size: 12px;
		font-family: arial;
	}
	a{
		color:#999 ;
	}
	
	/* 1.顶部导航 */
	.redColor{
		color: #C40000 !important;
	}
	nav.top{
		background-color: #f2f2f2;
		padding: 5px 0 5px 0;
		border: 1px solid #e7e7e7;
	}
	nav.top span,nav.top a{
		color: #999;
		margin: 0 10px 0 10px;
	}
	nav.top a:hover{
		color: #C40000;
		text-decoration: none;
	}
	
	/* 2.简单搜索 */
	div.simpleSearchOutDiv{
		width: 1024px;
		height: 90px;
		margin: 20px auto;
	}
	div.simpleSearchDiv{
		background-color: #C40000;
		width: 300px;
		margin: 10px 20px 40px;
		padding: 1px;
		height: 40px;
		display: block;
	}
	div.simpleSearchDiv input{
		width: 225px;
		border: 1px solid transparent;
		height: 34px;
		margin: 2px;
		outline: none;
	}
	div.simpleSearchDiv button{
		width: 60px;;
		border: 1px solid transparent;
		background-color: #C40000;
		color: white;
		font-size: 14px;
		font-weight: bold;
	}
	div.searchBlow{
		margin-top: 3px;
		margin-left: -10px;
	}
	div.searchBlow span{
		color: #999;
	}
	div.searchBlow a{
		padding: 0 10px 0 10px;
		font-size: 12px;
	}
	a:hover{
		color: #C40000;
		text-decoration: none;
	}
	img.simpleLogo{
		position: relative;
		left: 10px;
		top: 50px;
		width: 140px;
	}
	div.categoryPictureInProductPageDiv{
		width: 100%;
		text-align: center;
	}
	/* 4.页尾导航 */
	div.footer{
		border-top: 1px solid #E7E7E7;
		margin-top: 40px;
		
	}
	div.ensure{
		padding: 25px 0 25px 0;
		text-align: center;
	}
	div.footer_desc{
		text-align: center;
	}
	div.descColumn{
		display: inline-block;
		width: 205px;
		margin:30px 0 20px 0px;
		padding-left: 15px;
		vertical-align: top;
	}
	div.descColumn span,div.descColumn a{
		display: block;
		margin-bottom: 5px;
	}
	div.horizontal_line{
		border-top: 1px solid #E7E7E7;
	}
	div.descColumn span{
		font-size: 16px;
		font-weight: bold;
	}
	/* 版权部分 */
	div.copyrightMiddle{
		background-color: #000000;
		border-top: 2px solid #C30000;
		height: 224px;
	}
	div.copyrightMiddle div{
		padding: 10px 0 10px 0;
	}
	div.white_link a, div.white_link span {
		color: white;
		margin-right: 5px;
	}
	div.lisence{
		color: #999;
	}
	div.copyrightYear{
		color: #686868;
	}

	