/* A.Login */
		div.loginDiv{
			margin: 30px auto;
			text-align: center;
		}
		div.simpleLogo{
			float: left;
			margin-bottom: 20px;
		}
		img.loginBackgroundImg{
			margin: 20px auto;
		}
		
		/* 1.输入框 */
		div.loginSmallDiv{
			position: absolute;
			left: 880px;
			top: 180px;
			width: 350px;
			height: 400px;
			background-color: white;
			padding: 20px;
		}
			/* 错误提示 */
			div.login_acount_text{
				margin: 40px 0 20px 0;
				float: left;
				font-size: 16px;
				font-weight: bold;
			}
			/* 用户名和密码 */
			div.loginInput{
				margin-bottom: 20px;
				border: 1px solid #CBCBCB;
				display: flex;
				align-items: center;
			}
			span.loginInputIcon{
				display: inline-block;
				width: 40px;
				height: 40px;
				background-color: #CBCBCB;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			span.glyphicon{
				font-size: 22px;
			}
			div.loginInput input{
				border: 1px solid transparent;
				height: 30px;
				width: 244px;
				outline: none;
				margin-left:5px ;
				font-size: 14px;
			}
			/* 其他链接 */
			a.notImplementLink{
				float: left;
			}
			a{
				color: #999;
			}
			a:hover{
				color: #C30000;
				text-decoration: none;
			}
			/* 登陆按钮 */
			button.redButton{
				height: 34px;
				width: 300px;
				border: none;
				border-radius: 2px;
				background-color: #C30000;
				color: white;
				font-size: 14px;
				font-weight: bold;
				margin-top: 30px;
			}

/* B.register	 */
		div.registerDiv{
			width: 1400px;
			margin: 10px auto;
			padding-top: 50px;
		}
		table.registerTable{
			margin: 40px auto;
		}
		table.registerTable td{
			padding: 15px;
			width: 300px;
			height: 37px;
		}
		td.registerTableLeftTD{
			text-align: end;
		}
		td.registerTip{
			font-weight: bold;
		}
		td.registerTableRightTD input{
			width: 213px;
			height: 36px;
			font-size: 12px;
		}
		td.registerButtonTD{
			text-align: center;
		}
		td.registerButtonTD button{
			width: 170px;
			height: 36px;
			border: none;
			background-color: #C30000;
			color: white;
			font-size: 14px;
			font-weight: bold;
		}
		
		
/* 0.公共 */
	body{
		font-size: 12px;
		font-family: arial;
	}
	a{
		color:#999 ;
	}
	/* 1.顶部导航 */
	.redColor{
		color: #C40000 !important;
	}
	nav.top{
		background-color: #f2f2f2;
		padding: 5px 0 5px 0;
		border: 1px solid #e7e7e7;
	}
	nav.top span,nav.top a{
		color: #999;
		margin: 0 10px 0 10px;
	}
	nav.top a:hover{
		color: #C40000;
		text-decoration: none;
	}
	
	/* 2.简单搜索 */
	div.simpleSearchOutDiv{
		width: 1024px;
		height: 90px;
		margin: 20px auto;
	}
	div.simpleSearchDiv{
		background-color: #C40000;
		width: 300px;
		margin: 10px 20px 40px;
		padding: 1px;
		height: 40px;
		display: block;
	}
	div.simpleSearchDiv input{
		width: 225px;
		border: 1px solid transparent;
		height: 34px;
		margin: 2px;
		outline: none;
	}
	div.simpleSearchDiv button{
		width: 60px;;
		border: 1px solid transparent;
		background-color: #C40000;
		color: white;
		font-size: 14px;
		font-weight: bold;
	}
	div.searchBlow{
		margin-top: 3px;
		margin-left: -10px;
	}
	div.searchBlow span{
		color: #999;
	}
	div.searchBlow a{
		padding: 0 10px 0 10px;
		font-size: 12px;
	}
	a:hover{
		color: #C40000;
		text-decoration: none;
	}
	img.simpleLogo{
		position: relative;
		left: 10px;
		top: 50px;
		width: 140px;
	}
	div.categoryPictureInProductPageDiv{
		width: 100%;
		text-align: center;
	}
	/* 4.页尾导航 */
	div.footer{
		border-top: 1px solid #E7E7E7;
		margin-top: 40px;
		
	}
	div.ensure{
		padding: 25px 0 25px 0;
		text-align: center;
	}
	div.footer_desc{
		text-align: center;
	}
	div.descColumn{
		display: inline-block;
		width: 205px;
		margin:30px 0 20px 0px;
		padding-left: 15px;
		vertical-align: top;
	}
	div.descColumn span,div.descColumn a{
		display: block;
		margin-bottom: 5px;
	}
	div.horizontal_line{
		border-top: 1px solid #E7E7E7;
	}
	div.descColumn span{
		font-size: 16px;
		font-weight: bold;
	}
	/* 版权部分 */
	div.copyrightMiddle{
		background-color: #000000;
		border-top: 2px solid #C30000;
		height: 224px;
	}
	div.copyrightMiddle div{
		padding: 10px 0 10px 0;
	}
	div.white_link a, div.white_link span {
		color: white;
		margin-right: 5px;
	}
	div.lisence{
		color: #999;
	}
	div.copyrightYear{
		color: #686868;
	}